
.bg-customDark{
    background-color: #000000;
}

.main-color{
    background-color: #262525;
}

.header-color{
    background-color: #D03D12FF;
}

/* Default header size */
.header-size{
    height: 13vh;
}

.h-mrg-left{
    margin-left: 5%;
}

@media screen and (max-width: 1200px) {
    .header-size{
        height: 10vh;
    }

    .h-mrg-left{
        margin-left: 3%;
    }
}

@media screen and (max-width: 768px) {
    .header-size{
        height: 8vh;
    }

    .h-mrg-left{
        margin-left: 1%;
    }
}

@media screen and (min-width: 650px) {
    .large-hide{
        visibility: hidden;
        clear: both;
        float: left;
        display: none;
    }
}

@media screen and (max-width: 650px) {
    .medium-hide{
        visibility: hidden;
        clear: both;
        display: none;
    }
}

@media screen and (max-width: 992px) {
    .column-hide{
        visibility: hidden;
        clear: both;
        display: none;
    }
}




























































